*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*//jo v box ke bahr jayega usko andr kr dega*/
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    /* overflow-x: hidden; */
}

/*-- ------------------------------------container------------------------- --*/

#container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(66, 63, 63);
    padding: 0.5rem;
    position: absolute;
    background: transparent;
    /* z-index: 5; */
    /* background: transparent; */
}

#container1 img{
    height: 2.5rem;
}
#container1 i{
    display: none;
}

#container1 ul{
    display: flex;
    gap: 2rem;
    font-weight: 600;
}
#container1 ul li:hover{
    color: #f5b754;
}

#container1 ul li{
    color: white;
    list-style: none;
}
#container1 ul a{
    text-decoration: none;
}

#container1 input{
    /* outline: none; */
    outline-color: #f70707;
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* #idx{
    position: absolute;
    z-index: 5;
    display: none;
} */

/*-- ------------------------------------List------------------------- --*/

#listnum{
    position: absolute;
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    padding: 0px 6px 4px 6px;
    left: 35%;
    top: 3rem;
}
#listnum ul li {
    list-style: none;
    margin-top: 7px;
    padding: 2px;
}

#listnum ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}

#image2{
    background-image: url("/image/luxury2.jpg");
    background-size: cover;
    height: 500px;
    background-position: bottom;
}

/*-- ------------------------------------About------------------------- --*/
#about1{
    position: absolute;
    top: 8rem;
    left: 5rem;
    font-size: 1.5rem;
    color: #fff;
}

#about1 div{
    display: flex;
    gap: 1rem;
}


/*-- ------------------------------------Box5------------------------- --*/
#box5-1{
    width: 100%;
    background-color:#1b1b1b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    position: absolute;
    top: 22rem;
}

#box-51{
    display: grid;
    gap: 2rem;
    width: 50%;
    background-color: #1b1b1b;
    color: rgba(255, 255, 255, 0.8);;
}
#box-51 img{
    height: 20px;
    color: #ffc107;
}


#box-div1{
    display: flex;
    align-items: center;
    gap: 10px;
}

#box-div1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#box-div3{
    display: flex;
    align-items: center;
    gap: 10px;
    
} 

#button{
    background-color: #f5b754;
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 19px;
    color: black;
}
#box5-1 a{
    text-decoration: none;
}



#rentallad1 img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    transition: 1s;
}

#rentallad1 img:hover{
    transform: scale(1.05);
}

/*-- ------------------------------------What------------------------- --*/

#what{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1b1b1b;
    padding: 4rem;
    width: 100%;
    color: white;
    position: absolute;
    /* margin-top: 21.5rem; */
    top: 52.5rem 
}

/*-- ------------------------------------clients------------------------- --*/

#clients{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5,300px);
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    z-index: 5;
    width: 100%;
    top: 31.1rem;
    padding: 4rem 1rem 4rem 1rem;
    background-color: #1b1b1b;
    /* height: 300px; */
    color: #999;
}

#clients div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;

}

#clients p{
    padding: 0rem 2rem 2rem 2rem;
}

#star{
    padding: 5px;
    margin-left: 8rem;
    font-size: 1.5rem;
    color: #f5b754;
    cursor: pointer;
    
}


/*-------Footar----------------------*/
#footar{
    position: absolute;
    width: 100%;
    margin-top: 31rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #212529;
    /* background-color: white; */
    padding: 1rem;
    color: white;
}
#footar p{
    color: rgba(255, 255, 255, 0.8);;
}
#footar i{
    margin-left: -2.2rem;
    position: relative;
    top: 1.5rem;
}

#footar2{
    position: absolute;
    margin-top: 36.8rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #212529;
    padding: 1rem;
    color: white;
    gap: 5rem;
}

#footar2 img{
    height: 25px;
}

#footar2 p{
    margin-top: 1rem;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);;
}

#whatsap{
    display: flex;
    justify-content: start;
    gap: 16px;
    margin-top: 1rem;
}

#quick ul{
    padding: 2px 82px 18px 74px;
    display: flex;
    flex-wrap: wrap;
}
#quick h2{
    margin-left: 3rem;
}

#quick ul li {
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);;
}

#idx i{
    display: none;
}

@media (max-width:450px){
    #container1 ul{
        display: none;
    }
    #container1 input{
        display: none;
    }

    #container1 img{
        height: 1.5rem;
        margin-left: -11rem;
    }

    #idx {
        display: flex;
        position:absolute;
        margin-left: 15rem;
        font-size: 1.5rem;
    }
    #idx ul{
    margin-left: -11.5rem;
    margin-top: 1rem;
    background-color: white;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    }
    #idx ul li{
        list-style: none;
        padding: 5px;
        color: black;
    }
    #idx ul a li:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    #idx ul a{
        text-decoration: none;
    }
    #idx i{
        /* display: flex;
        font-size: 2rem;
        /* margin-left: 24rem;
        margin-top: 1rem; */
        color: #fff;
        margin-left: 5rem;
        position: relative;
        top: 1rem;
        /* bottom: 3rem; */
        display: flex;
    }


    #box5-1{
        display: grid;
        padding: 2rem 2rem 2rem 2rem;
    }
    #box-51 a{
        margin-left: -2rem;
        position: relative;
        left: 1rem;
    } */

     #box-51 img{
        margin-left: 7rem;
        margin-top: 1rem;
       
    }
    #box-51 h1{
        font-size: 1.3rem;
        position: relative;
        left: 5rem;
    }
     #box-51 p{
        display: inline;
        position: relative;
        left: 4rem;
    }

    #rentallad1 img{
        height: 275px;
        width: 75%;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    #what{
        position: relative;
        margin-top: -3rem;  
    }
    #clients{
        position: relative;
        margin-top: 21rem 
    }
    #footar{
        padding: 0;
        font-size: 10px;
    }
    #footar2{
        position: relative;
        bottom: 3.4rem;
        display: grid;
    }
    #footar2 ul{
        display: grid;
    }
}
