*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*//jo v box ke bahr jayega usko andr kr dega*/
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    /* overflow-x: hidden; */
}

/* ///--------------------------container----------------------- */

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(66, 63, 63);
    padding: 0.5rem;
    position: absolute;
    background: transparent; 
    /* z-index: 5;  */
    /* background: transparent; */
}

#container img{
    height: 2.5rem;
}
#container i{
    display: none;
}

#container ul{
    display: flex;
    gap: 2rem;
}

#container ul li{
    color: white;
    list-style: none;
}
#container ul a{
    text-decoration: none;
}

#container input{
    /* outline: none; */
    outline-color: #f70707;
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* #idx{
    position: absolute;
    z-index: 5;
    display: none;
} */

#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-top: 1rem;
    background-color: #0740f1;
    color: white;
    margin-left: 6rem;

}


#list{
    position: absolute;
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    padding: 0px 6px 4px 6px;
    left: 35%;
    top: 3rem;
}
#list ul li {
    list-style: none;
    margin-top: 7px;
    padding: 2px;
}

#list ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}

#box3{
    background-color: wheat;
    background: transparent;
    border: 2px solid gray;
    width: 30%;
    padding: 1rem;
    display: grid;
    gap: 0.3rem;
    margin-top: 10px;
    /* margin-bottom: 1rem; */
    border-radius: 10px;
    color: #ffc107;
  
}
#box3 input{
    display: grid;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    
}

#box3 i{
    position: relative;
    right: -93%;
    margin-top: -2.1rem;
    color: black; 
}
#box3 p{
    background-color: #f70707;
    width: 30%;
    color: wheat;
    padding: 8px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px 
}




/* ///--------------------------box4----------------------- */
#box4{
    /* background-color: aqua; */
    background-image: url("/image/rolls3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem 5rem 0rem;
    overflow: hidden;
    
}

/* ///--------------------------List2----------------------- */
#list2{
    border-radius: 0px 0px 5px 5px;
    /* display: flex; */
    justify-content: center;
    /* width: 9%; */
    background-color: wheat;
    position: absolute;
    margin-left: 46rem;
    margin-top: -23.2rem;
    padding: 5px;
    cursor: pointer;
    /* z-index: 5; */
}

#list2 ul li{
    list-style: none;
    padding: 2px;
}
#list2 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}

/* ///--------------------------List3----------------------- */
#list3{
    position: absolute;
    margin-top:-27.8rem;
    background-color: wheat;
    z-index: 5;
    margin-left: 47rem;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}


#list3 ul li {
    list-style: none;
    /* margin-top: 7px; */
    padding: 2px;
}

#list3 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}
#idx{
    display: none;
}

@media (max-width:450px) {
    body{
        width: 100%;
        box-sizing: border-box;
    }
    
    #container ul{
        display: none;
    }

    #container input{
        display: none;
    }
    #container img{
        height: 1.5rem;
        margin-left: -11rem;
    }
    #idx {
        position: absolute;
        display: flex;
        /* justify-self: center;
        align-items: center; */
        margin-left: 15rem;
        font-size: 1.5rem;
    }
    #idx ul{
    margin-left: -4.5rem;
    margin-top: 1rem;
    background-color: white;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position:absolute;
    z-index: 5;
    }
    #idx ul li{
        list-style: none;
        padding: 5px;
        color: black;
    }
    #idx ul a li:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    #idx ul a{
        text-decoration: none;
    }
    #idx i{
        /* display: flex;
        font-size: 2rem;
        /* margin-left: 24rem;
        margin-top: 1rem; */
        color: #fff;
        margin-left: 5rem;
        position: relative;
        top: 1rem;
        /* bottom: 3rem; */
        display: flex;
    }
    #box4{
        height: 100vh;
    }

    #box3{
        width: 75%;
        top: -3rem;
        position: relative;
    top: -4rem;
    }
    #box3 input{
        padding: 10px;
    }
    #box3 i{
        position: relative;
    top: 10px;
    margin-left: -9px;
    }
    #submit{
        margin-left: 4rem;
    }

    #list2{
        border-radius: 0px 0px 5px 5px;
        /* display: flex; */
        justify-content: center;
        /* width: 9%; */
        background-color: wheat;
        position: absolute;
        margin-left: 17rem;
        margin-top: -34.9rem;
        cursor: pointer;
        /* z-index: 5; */
    }

    #list3{
        position: absolute;
        margin-top:-39.5rem;
        background-color: wheat;
        z-index: 5;
        margin-left: 17rem;
        padding: 5px;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
    }
}