*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*//jo v box ke bahr jayega usko andr kr dega*/
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* ///--------------------------container----------------------- */

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #0b43d8;
    padding: 0.5rem;
}

#container img{
    height: 2.5rem;
}
#container i{
    display: none;
}

#container ul{
    display: flex;
    gap: 2rem;
}

#container ul li{
    color: white;
    list-style: none;
}
#container ul a{
    text-decoration: none;
}

#container input{
    outline-color: #f70707;
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}


#section1{
    background-color: rgb(46 63 200);
    width: 100%;
    color: aqua;
    top: 20%;
}

#sec{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
}

#sec input{
    font-size: 1rem;
    padding: 6px 0px 0px 10px;
    border-radius: 5px;
    border: none;
    background-color: #36367e;
    color: #fff;
    outline-color: #fff;
}

#sec div{
    display: grid;
    background-color: #36367e;
    /* padding: 5px; */
}
#id2{
    position: relative;
}

#cont-box{
    display: flex;
    justify-content: space-around;
    margin-top: 12.5rem;
    /* height: 300px; */
    width: 100%;
    background-color: #f2f2f2;
    color: black;
}

#cont-box #h1{
 display: flex;
 gap: 2rem;
 /* height: 30px; */
 margin-top: 1rem;
 padding: 1rem;
 margin-left: 10rem;

}
#cont-box1{
    display: flex;
}

#h4{
    padding: 1rem;
}
#h4 p{
    color: #4a4a4a;
}

#h1 h1{
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

#car-sec{
    /* height: 200px;
    display: flex; */
    border: 1px solid gray;
    margin-top: 1rem;
    border-radius: 10px;
    width: 95%;
    background-color: #f2f2f2;
}
#car-sec2{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#car1{
    display: flex;
    align-items: center;
}
#car1 img{
    height: 50px;
}

#Dzire{
    margin-left: 1rem;
}

#Dzire span{
    display: flex;
    gap: 10px;
}

#book{
    display: flex;
    justify-content: space-around;
    position: relative;
    /* left: -3rem; */
    padding: 0px 0px 10px 0px;
}
#book span{
    display: flex;
    align-items: center;
}

#book button{
    position: relative;
    left: 9rem;
    border: none;
    border-radius: 20px;
    background-color: #0046ff;
    padding: 10px 25px 10px 25px;
    font-size: 1rem;
}

#car-booking{
    width: 100%;
    /* background-color: black; */
    background-color: #fff;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#car-2{
   width: 70%;
   /* background-color: aqua; */
   background-color: #f2f2f2;
   color: black;
}

#car-booking2{
    /* background-color: #fff; */
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

#vip{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}
#vip h5{
    padding: 5px;
}
#h5{
    background-color: black;
    color: white;
    border-radius: 5px;
}

#car-input{
    font-size: 1.2rem;
    padding: 10px 0px 0px 10px;
}
#car-input2{
    font-size: 1.2rem;
    padding: 10px 0px 0px 0px;
}

#car-input input{
    /* gap: 1rem; */
    font-size: 1.2rem;
    /* display: flex; */
    display: grid;
    flex-wrap: nowrap;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px 5px 5px 10px; 
}

#car-input2 input{
    font-size: 1.2rem;
    /* display: flex; */
    display: grid;
    flex-wrap: nowrap;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px 5px 5px 10px;
}

#setbutton1{
    display: flex;
    justify-content: center;
    
}
#setbutton{
    padding: 10px 64px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    background-color: #000;
    color: #fff;
}

#footar{
    display: flex;
    justify-content: space-evenly;
    background-color: #212529;
    padding: 1rem;
    color: white;
}
#footar p{
    color: rgba(255, 255, 255, 0.8);;
}
#footar i{
    margin-left: -2.2rem;
    position: relative;
    top: 1.5rem;
}

#footar2{
    display: flex;
    justify-content: space-evenly;
    background-color: #212529;
    padding: 1rem;
    color: white;
    gap: 5rem;
}

#footar2 img{
    height: 25px;
}

#footar2 p{
    margin-top: 1rem;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);;
}

#whatsap{
    display: flex;
    justify-content: start;
    gap: 16px;
    margin-top: 1rem;
}

#quick ul{
    padding: 2px 82px 18px 74px;
    display: flex;
    flex-wrap: wrap;
}
#quick h2{
    margin-left: 3rem;
}

#quick ul li {
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);;
}
#idx i{
    display: none;
}
#img1{
    height: 200px;
}

@media (max-width:450px){

    #container ul{
        display: none;
    }
    #container input{
        display: none;
    }

    #idx {
        position: absolute;
        display: flex;
        margin-left: 15rem;
        font-size: 1.5rem;
    }
    #idx ul{
    margin-left: -4.5rem;
    margin-top: 1rem;
    background-color: white;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position:absolute;
    z-index: 5;
    }
    #idx ul li{
        list-style: none;
        padding: 5px;
        color: black;
    }
    #idx ul a li:hover{
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    #idx ul a{
        text-decoration: none;
    }
    #idx i{
        color: #fff;
        margin-left: 8rem;
        position: relative;
        top: -2.6rem;
        display: flex;
    }

    #sec{
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
    }

    #sec input{
        font-size: 13px;
        /* width: 85%; */
        outline: none;
    }
    .button12{
        margin-top: 1rem;
        border: 2px solid yellow;
    }
   
    #sec div{
        width: 45%;
    }
    #trip {
        display: contents;
    }
    #trip div{
        display: none;
    }
    #from1{
        border-radius: 5px 5px 0px 0px;
        border: 2px solid yellow;
    }
    #from2{
        border-radius: 0px 0px 5px 5px;
        border: 2px solid yellow;
    }
   
   #cont-box1{
    display: grid;
}

   #h4{
    display: grid;
   }
   #cont-box #h1{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    /* margin-left: 1rem; */
    font-size: 0.5rem;
   }
   #car-2{
    width: 100%;
   }

   #car-sec{
    font-size: 10px;
   }

   #book button{
    position: relative;
      left: 1rem;
      font-size: 10px;
   }
   #car-booking h1{
    font-size: 10px;
   }
   #vip{
    font-size: 10px;
   }
   #car-input{
    font-size: 10px;
   }
   #car-input input{
    font-size: 10px;
   }

   #car-input2{
    font-size: 10px;
   }
   #car-input2 input{
    font-size: 10px;
   }
   #img1{
    width: 100%;
    height: 150px;
   }
   #inp{
    width: 85%;
   }
}



