*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*//jo v box ke bahr jayega usko andr kr dega*/
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    /* overflow-x: hidden; */
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(66, 63, 63);
    padding: 0.5rem;
    position: absolute;
    background: transparent;
    z-index: 5;
    /* background: transparent; */
}

#container img{
    height: 2.5rem;
}
#container i{
    display: none;
}

#container ul{
    display: flex;
    gap: 2rem;
}

#container ul li{
    color: white;
    list-style: none;
}
#container ul a{
    text-decoration: none;
}

#container input{
    /* outline: none; */
    outline-color: #f70707;
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#list{
    position: absolute;
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    padding: 0px 6px 4px 6px;
    left: 35%;
    top: 3rem;
}
#list ul li {
    list-style: none;
    margin-top: 7px;
    padding: 2px;
}

#list ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}

#list3{
    position: absolute;
    margin-top:-27.8rem;
    background-color: wheat;
    z-index: 5;
    margin-left: 47rem;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}


#list3 ul li {
    list-style: none;
    /* margin-top: 7px; */
    padding: 2px;
}

#list3 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}

/* ///--------------------------swiper-slider----------------------- */

.swiper{
    width: 100%;
    height: 500px;
}

.swiper-slide{
    -webkit-mask-image:linear-gradient(black, transparent);
    mask-image: linear-gradient(black 70%, transparent 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    /* -webkit-mask-image:linear-gradient(black, transparent);
    mask-image: linear-gradient(black 0%, transparent 90%); */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ret{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    position:absolute;
    top: 10rem;
    left: 2rem;
    width: 40%;
    color: white;
    z-index: 5;
}
#ret h2{
    font-size: 4rem;
    font-weight: 500;
    color: #ffc107;
}
#ret h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffd700;
}

#ret a{
    background-color: #f70707;
    padding: 10px 16px;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}

#ret a:hover{
    background-color: #fff;
    color: black;
}
#box-1{
    font-weight: bold;
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    color: red;
}

/*-------box5----------------------*/

#box5{
    width: 100%;
    background-color:#1b1b1b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
}

#box-5{
    display: grid;
    gap: 2rem;
    width: 50%;
    background-color: #1b1b1b;
    color: rgba(255, 255, 255, 0.8);;
}
#box-5 img{
    height: 20px;
    margin-left: 3rem;
    color: #ffc107;
}
#box-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

#box-div div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#box-div2{
    display: flex;
    align-items: center;
    gap: 10px;
    
} 

#button{
    background-color: #f5b754;
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 19px;
    color: black;
}
#box5 a{
    text-decoration: none;
}



#rentallad img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    transition: 1s;
}

#rentallad img:hover{
    transform: scale(1.05);
}

#box4{
 /* background-color: aqua; */
 background-image: url("/image/rolls3.webp");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 5rem 0rem 5rem 0rem;
 overflow: hidden;
 
}

#box4 input{
    /* display: flex;
    flex-wrap: nowrap; */
}

#box3{
    background-color: wheat;
    background: transparent;
    border: 2px solid gray;
    width: 40%;
    padding: 2rem;
    display: grid;
    gap: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #ffc107;
  
}
#box3 input{
    display: grid;
    width: 100%;
    padding: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

#box3 i{
    position: relative;
    right: -94%;
    margin-top: -2.5rem;
    color: black; 
}
#box3 p{
    background-color: #f70707;
    width: 30%;
    color: wheat;
    padding: 8px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px 
}


#idx{
    position: absolute;
    z-index: 5;
    display: none;
}


#list2{
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: center;
    width: 9%;
    background-color: wheat;
    position: absolute;
    margin-left: 46rem;
    margin-top: -12.2rem;
    cursor: pointer;
    /* z-index: 5; */
}

#list2 ul li{
    list-style: none;
}
#list2 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}
/* telt.js// */

/*------------------car-fact----------------------*/
#car-fact{
    display: grid;
    justify-content: center;
    background-color: wheat;
    padding: 1rem;
    color: #001238;
}

#car-fact p{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: red;
}

/*------------------car-fact2----------------------*/
#car-fact2{
    display: grid;
    justify-content: center;
    background-color: wheat;
    padding: 1rem;
    color: #001238;
}

#car-fact2 h6{
    margin-left: 4rem;
    font-size: 16px;
    color: red;
}

/*------------------car-fact1----------------------*/

#sec1{
    display: flex;
    justify-content:space-around;
    background-color: gray;
    flex-wrap: wrap;
    padding: 5rem 1rem 5rem 1rem;
}

#car-fact1{
    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 3rem;
    width: 30%;
    /* height: 350px; */
    padding: 1rem;
}

#car-fact1 img{
    height: 250px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

#rol{
    display: grid;
    padding: 5px 0px 10px 0px;
}

#details{
    display: flex;
    justify-content: space-between;
}

#btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#btn button{
 padding: 8px 16px 8px 16px;
 border: none;
 border-radius: 10px;
 background: red;
 color: white;
}

#btn button:hover{
    background-color: #fff;
    color: black;
}

/*-----------------luxury cars----------------------*/

#sec2{
    display: grid;
    gap: 2rem;
    background-color:#212529; 
    padding: 5rem 1rem 5rem 1rem;
    grid-template-columns: repeat(6, 400px);
    overflow-x: scroll;
    align-items: center;
    scrollbar-width: none;
}
#luxury-car{
    width: 100%;
    padding: 5px;
    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    /* width: 30%; */
    margin-top: 1rem;
    /* position: relative; */
    overflow: hidden;
    transition: 1s;
}

#luxury-car img{
 width: 100%;
 margin-top: -20px;
 border-radius: 10px;
}

#luxury-car:hover{
    transform: scale(1.05);
    background-color: #ffc107;
}
#luxury-car h4{
    position: relative;
    margin-left: 1.5rem;
    top: 1.5rem;
    font-size: 1rem;
    font-weight: 800;
    color: white;
}

#lux-car{
    height: 86px;
    width: 90px;
    background-color: #212529;
    color: white;
    position: relative;
    bottom: 5.3rem;
    border-radius: 0 40px 0 0;
}
#lux-car div{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 1rem;
    border-radius: 50%;
    border: 2px solid #ffc107;
}

/* #lux-car p{
    margin-top: 22px; */
/* } */
#car-p{
    background-color: black;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    border-radius: 0px 40px 0 0;
    position:relative;
    color: white;
}

#car-fact4{
    display: grid;
    justify-content: center;
    background-color: wheat;
    padding: 1rem;
    color: #001238;
}

#car-fact4 p{
    margin-left: 6rem;
    font-size: 1.5rem;
    color: red;
}

#car-sec{
    width: 30%;
    background-color:#222;
    color: #fff;
    padding: 4rem;
    border-radius: 10px;
}
#car-sec p{
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.8);
}


#car-sec2{
    width: 30%;
    background-color: #222;
    color: #fff;
    padding: 4rem;
    border-radius: 10px;
}
#car-sec2 p{
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.8);;
}

#car-sec3{
    width: 30%;
    background-color: #222;
    color: #fff;
    padding: 4rem;
    border-radius: 10px;
}
#car-sec3 p{
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.8);;
}

/*-------Footar----------------------*/
#footar{
    display: flex;
    justify-content: space-evenly;
    background-color: #212529;
    padding: 1rem;
    color: white;
}
#footar p{
    color: rgba(255, 255, 255, 0.8);;
}
#footar i{
    margin-left: -2.2rem;
    position: relative;
    top: 1.5rem;
}

#footar2{
    display: flex;
    justify-content: space-evenly;
    background-color: #212529;
    padding: 1rem;
    color: white;
    gap: 5rem;
}

#footar2 img{
    height: 25px;
}

#footar2 p{
    margin-top: 1rem;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);;
}

#whatsap{
    display: flex;
    justify-content: start;
    gap: 16px;
    margin-top: 1rem;
}

#quick ul{
    padding: 2px 82px 18px 74px;
    display: flex;
    flex-wrap: wrap;
}
#quick h2{
    margin-left: 3rem;
}

#quick ul li {
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);;
}

/*-------------------Car-details----------------------*/

#car-details{
    position: absolute;
    margin-top: 29rem;
    left: 18.7rem;
    background-color: wheat;
    padding: 5px;
    z-index: 5;
    border-radius: 0px 0px 5px 5px 
}
#car-details ul li{
    list-style: none;
    padding: 2px;
}
#car-details ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}


#car-details1{
    position: absolute;
    margin-top: 24rem;
    margin-left: 18.1rem;
    background-color: wheat;
    padding: 5px;
    z-index: 5;
    border-radius: 0px 0px 5px 5px 
}
#car-details1 ul li{
    list-style: none;
    padding: 2px;
}
#car-details1 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}


#car-details2{
    position: absolute;
    margin-top: 24rem;
    margin-left: 18.1rem;
    background-color: wheat;
    padding: 5px;
    z-index: 5;
    border-radius: 0px 0px 5px 5px 
}
#car-details2 ul li{
    list-style: none;
    padding: 2px;
}
#car-details2 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}



#car-details3{
    position: absolute;
    margin-top: 24rem;
    margin-left: 18.1rem;
    background-color: wheat;
    padding: 5px;
    z-index: 5;
    border-radius: 0px 0px 5px 5px 
}
#car-details3 ul li{
    list-style: none;
    padding: 2px;
}
#car-details3 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}


#car-details4{
    position: absolute;
    margin-top: 24rem;
    margin-left: 18.1rem;
    background-color: wheat;
    padding: 5px;
    z-index: 5;
    border-radius: 0px 0px 5px 5px 
}
#car-details4 ul li{
    list-style: none;
    padding: 2px;
}
#car-details4 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}


#car-details5{
    position: absolute;
    margin-top: 52rem;
    left: 18.1rem;
    background-color: wheat;
    padding: 5px;
    z-index: 5;
    border-radius: 0px 0px 5px 5px 
}
#car-details5 ul li{
    list-style: none;
    padding: 2px;
}
#car-details5 ul li:hover{
    background-color: #3593fa;
    width: 100%;
    color: black;
}




/*-------swiper animation----------------------*/

 
@media (max-width:450px) {
    body{
        width: 100%;
        box-sizing: border-box;
    }
    
    #container ul{
        display: none;
    }

    #container input{
        display: none;
    }
    #container img{
        height: 1.5rem;
        margin-left: -11rem;
    }
    #idx{
        display: flex;
        font-size: 2rem;
        margin-left: 24rem;
        margin-top: 1rem;
        color: #fff;
    }

    #ret{
        margin-top: 8rem;
        padding: 0rem;
        margin-left: 6rem 
    }
    #ret h3{
        font-size: 1rem;
    }
    #ret h2{
        font-size: 1.2rem;
    }
    #ret a{
        font-size: 10px;
    }

    #box-5 img{
        margin-left: 7rem;
        margin-top: 1rem;
    }
    #box-5 h1{
        font-size: 1.3rem;
        position: relative;
        left: 6rem;
    }

}