*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(66, 63, 63);
    padding: 0.5rem;
    position: absolute;
    background: transparent;
    z-index: 5;
    /* background: transparent; */
}

#container img{
    height: 2.5rem;
}

#container ul{
    display: flex;
    gap: 2rem;
}

#container ul li{
    color: white;
    list-style: none;
}
#container ul a{
    text-decoration: none;
}

#container input{
    outline: none;
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* ///--------------------------swiper-slider----------------------- */

#img-box img{
    width: 100%;
    height: 600px;
}

#img-box2 img{
    width: 100%;
    height: 600px;
}

#ret{
    height: 200px;
    width: 20%;
    background-color: black;
}