*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/image/newaudi.jpg");
    background-size: cover
}

#sear{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
}
#sear input{
    outline: none;
    padding: 3px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
}
#table{
    position:absolute;
    left: 4%;
    top: 15%;
    background-color: gray;
    color: white;
}

thead{
    background-color: black; 
    color: white;
}

thead th{
    padding: 1rem;
}
tbody tr{
    padding: 1rem;
}

#formdata1{
    position: absolute;
    left: 63%;
    top: 7%;
    border-radius: 10px;
    background-color: aqua;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    background: transparent;
    border: 1px solid black;
}

#formdata1 input{
    display: grid;
    /* position: relative; */
    /* left: 25%; */
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
}

#formdata1 p{
    /* position: relative;
    left: 25%; */
    font-size: 1.2rem;
    margin-top: 1rem;
}

#submit1{
    margin-left: 4rem;
}


#pagin{
    margin-top: 14%;
    margin-left: 4%;
}
@media(max-width:450px){
    body{
        height: 100vh;
        background-image: url("/image/rolls2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    thead th{
        padding: 10px;
        font-size: 10px;
    }
    #table{
        position:absolute;
        left: 0%;
        top: 15%;
        width: 400px !important;
    }
    #formdata1{
        position: absolute;
        left: 3%;
        top: 40%;
        border-radius: 10px;
        background-color: aqua;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 1rem; */
        background: transparent;
        border: 1px solid black;
    }

    #sear{
        background-color: skyblue;
        padding: 10px;
        margin-left: 0;
    }
}
